
h1{
  font-size: 562.5%;
  margin: 100px auto 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #66BFBF;
}
h2{
  font-size: 300%;
  margin: 100px auto 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #66BFBF;}
h3{
  color: #11999E;
}
body{
background-color: #f4f9f9;
text-align: center;
font-family: verdana, sans-serif;
}
.bottom-cloud{
  position: absolute;
  left: 200px;
}
.top-cloud{
position:relative;
left: 300px;
}
.top-container{
    padding-top: 100px;
    line-height: 2;
}
.middle-container{
  font-family: 'Montserrat', sans-serif;
}
.bottom-container{
  color: #11999E;
}
.skills{
  text-align: center;
}
.profile1{
height: 200px;
width: auto;
border-radius: 50%;
}
.monitor{
  height: 200px;
  width: auto;
}
.envelope{
  height: 200px;
  width: auto;
}
.server{
  height: 200px;
  width: auto;
}
.programmer{
  font-weight: normal;
}
